html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #2f4858;
    color: #2f5862;
}

/*color codes
#858d66
#658265
#4b7567
#386766
#2f5862
#2f4858
*/

nav {
    background-color: #658265;
    width: 100%;
    padding: 5px;
}

nav h2 {
    color: #2f5862;
}

main {
    margin: 20px 20%;
    padding: 40px 20px;
    border-radius: 5px;
    background-color: gainsboro;
}

main p {
    font-size: 1.2em;
}

main h2 {
    color: #386766;
}